body {
    font-family: 'Monserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
}

header,
nav,
section,
article,
aside,
footer {
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav {
    background-color: #555555;
    color: white;
    text-align: center;
    margin-bottom: 5px;

}

.menu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu div {
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: -5px;
}

article {
    flex: 2;
    background: #202020;
    color: white;
    margin: 5px;
    width: 50%;
}

article p {
    color: #909090;
}

article h2 {
    color: #16a5cc;
}

.contactoWhatsApp {
    display: flex;
    width: 100%;
    margin: -10px;
}

.contactoWhatsApp a {
    display: flex;
    padding: 5px;
    background-color: #023b1e;
    border-radius: 5px;
    border: 1px solid #25d366;
    color: #25d366;
}

footer {
    background: #333;
    color: white;
    text-align: center;
}

a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}